<div class="header-area header-transparent">
    <div class="main-header header-sticky">
        <div class="container-fluid">
            <div class="row align-items-center">

                <!-- Logo -->
                <div class="col-xl-3 col-lg-3 col-md-4 col-8">
                    <div class="logo">
                        <a href="index.html" class="d-flex align-items-center text-decoration-none">
                            <img src="assets/img/logo/logo.png" alt="Kraft Fitness Logo" style="height:60px;">
                            <span style="font-size:22px; font-weight:700; margin-left:10px; color:#fff;">
                                Kraft Fitness
                            </span>
                        </a>
                    </div>
                </div>

                <!-- Menu -->
                <div class="col-xl-9 col-lg-9 col-md-8 col-4">
                    <div class="menu-main d-flex align-items-center justify-content-end">

                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="schedule.html">Schedule</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>

                        <div class="header-right-btn d-none d-lg-block ml-30">
                            <a href="form.html" class="btn header-btn">Become a Member</a>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="mobile_menu d-block d-lg-none"></div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
